.main {
    background-image: url('../../assets/Checkbg.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    position: static;
    width: 100vw;
    min-height: 120vh;
}

.boxy {
    margin-top: 8%;
    padding: 2%;
    background: rgba(239, 241, 237, 0.9);
    border-radius: 18px;
    margin-left: 10%;
    width: 100%;
}

.reservationBox {
    width: 500px;
}