.main {
    height: 100%;
    margin: 0px 10% 20px;
    font-style: normal;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #424242;
    margin-bottom: 0px;
    letter-spacing: 0.005em;
    color: #424242;
}

.YourInfo {
    margin-top: 0%;
}

.YourInfo .tf {
    margin-left: 1%;
    width: 80%;
}

.tf {
    width: fit-content;
    height: 5%;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.005em;
    color: #646464;
}

.PaymentDetails {}

.PaymentDetails .tf {
    width: 70%;
}

.PaymentDetails p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 43px;
    letter-spacing: 0.005em;
}

.states {
    margin-left: 15%;
    width: 100%;
}

.greenPrompt {
    width: 65%;
    height: 15%;
    background: #9BB40D;
    border-radius: 15px;
    color: #FFFFFF;
    margin-left: 18%;
}

.greenPrompt p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    padding: 1.5%;
    color: #FFFFFF;
    letter-spacing: 0.005em;
    margin-top: -8%;
}

.temp {
    /* height: 20%; */
    /* width: 80%; */
    /* background: #fbf9f9; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
}

.date {
    margin-left: 10%;
}

.mainul {

    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.mainul li {
    margin: 20px 0px 20px;
}

.policy {
    font-size: small;
    height: 10%;
    width: 75%;
    margin-top: 4%;
}

.policy p {
    font-size: small;
}

.mop {
    margin-left: 0%;
    width: 46%;
}